{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-underscore-dangle": ["off"],
    "no-case-declarations": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreUrls": true
      }
    ]
  }
}
